.popup {
   margin-right: 10%;
   margin-top: 20%;
   background-image: url("../../Images/wrong.png");
   background-size: contain;
}

.btnpopUp {
   width:25px;
   height:25px;
   border: white solid 1px;
   background-color: white;
   border-radius: 50%;
   float: left;
   margin: 5px;
}

.btnpopUp img {
   width:10px;
   height:10px;
   margin-right: 3px;
   margin-bottom: 2px;
}

.headerContainer {
   background-color: #293744;
   width: 100%;
   height: 8%;
   margin: 0px; 
   padding: 15px;
}

.headerContainerTest {
    background-color: #d4d4d53d;
    height: stretch;
    margin: 0px; 
    background-repeat: no-repeat; 
    width: auto;
    max-width: 100%;
    margin: auto;
    background-position: center;
    background-size: contain;
 }

.popUpH6 {
   color: white;
   padding-top: 1%;
   margin-right: 35%;
}

#videotest {
   width: 100%;
   margin-top: 0px;
   margin-bottom: 5px !important;
}

.embed-responsive-item {
   border: none;
   margin-bottom: 0px !important;
}

.contentafterVideo {
   color: #335373;
   padding: 5px;
   padding-right: 20px;
   margin-top: 0px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.aftervideoh {
   margin-top: 0px;
   text-align: center;
   color: #335373;
}

.popUpHr {
   height: 1.5px;
   width: 7%;
   color:#335373;
   background-color:#335373 ;
}

.SectorPopUpimgContainer {
   background-color: transparent;
}

.SectorPopUpimg {
   width: 100%;
   margin-left: 0%;
   margin-top: 0%;
   
}

.SectorPopUpimgTest {
   width: 9%;
}
