#applyform {
    margin: 0 auto;
}

#applyform h4 {
    margin-top:5%;
}

.applyformhr {
    background-color: #335373;
    width:10%;
    height: 1.5px;
}

input[type="file"] {
    display: none;
}

#formuplaodfile {
    margin-right: 16%;
}

::placeholder {
    color:#9FA3A8;
}

#signbutton {
     display: inline; 
     cursor: pointer ;
}

#apllybuttons {
    width: 60%;
}

#signbutton {
    width: 40%;
    margin: 0px 10px;
    margin-right: 23%;
    background-color: #293744;
    border: none;
}

.uplaodiconecompl {
    height: auto;
}
button { cursor:pointer !important; }
