body {
    height: 100%;
    width: 100%;
    text-align: right;
}
.cursoleContainer {
    position: absolute;
    background-color: transparent;
    width: 100%;
    margin: 0%;
    bottom: 0px;
}
/* start of edit */
.HomeiconStyle {
    position: absolute;
    float:right;
    background-color: transparent;
    width: 10%;
    top:25px;
    text-align: center;
    display: block;
}

.HomeiconStyle a {
    color:black;
    text-align: center;
    display: block;
    padding:15px 20px; 
}

.iconeStyle {
    width:25%; 
}

/* end of edit */
.wrapPage {
    position:absolute;
    left: 0;
    right:0;
    top:0;
    bottom: 0; 
}

#StayFocusd-infobar {
    display: none !important;
    float: left;
    font-size: 14px;
    font-family: Arial, Verdana, sans-serif;
    letter-spacing: 0px;
    height: 20px;
    margin-bottom: 16px;
    position: absolute;
    text-align: left;
    text-transform: none;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99999999;
    color: rgb(255, 255, 255) !important;
    border-bottom: none !important;
    padding: 10px;
    background: rgb(0, 0, 0) !important;
}

.DropDownButton {
    background-color: transparent;
    height: 80px;
    width:40px;
    border: white 2px solid;
    border-radius: 40px;
    position: absolute;
    top:calc(50% - 40px );
    right: calc(50% - 20px);
}

.dropDownImg {
    background-color: transparent;
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    align-self: center;
    text-align: center;
    right: 0;
    left: calc(25%);
}

.containall {
    margin-top: 5%;
    width: 800px;
    margin-left:15%;
}

#about {
    position: relative;
    height: auto;
    /* margin-bottom:20px;  */
    /* margin-top:px;     */
}

.aboutcontent {
    background-color:transparent;
    direction: rtl;
    color:#343434;
    font-family: 'Cairo', sans-serif;
    font-size:11px;
}

.title {
    color: #293744;
    float: right;
    margin-right:10px;
    padding: 2px 80px;
    font-family: 'Cairo', sans-serif;
    font-size:25px;
    font-weight: bold; 
}

#logoStyle {
      margin-top: 5%;
      margin-left: 10%;
      position: absolute;
}

.pageContainer {
    position: relative;
    background-color: rebeccapurple;
    width: 100%;
    top:850px;
    z-index: 3; 
}

.headerstyle  {
    top: 20%  !important;
    /* color: white  !important; */
    border: none  !important;
    background-color: transparent  !important; 
}

.headerstyle1  {
    top: 30% !important;
    border: none !important;
    background-color: transparent !important;
}

.headerstyle2 {
    top: 85% !important;
    border: none !important;
    width: 70% !important;
    background-color: transparent !important;
    margin: 10px 10px !important;
}

.homeTitle {
    position: absolute;
    background-color: transparent;
    width: 100%;
    z-index: 3; 
    top:calc(10% );
    align-self: center;
    align-content: center;
    align-items: center;
    display: block;
}

.homeTitle h1 {
    /* color: white !important; */
    font-size:25px !important; 
    font-family: 'Cairo', sans-serif !important;
    text-align: center !important;
    padding: 5% 22%  !important;
    line-height: 2em !important;
}

.homeTitleheading {
    /* padding: 3% 20%, */
   
}

@media (max-width:1024px){
    #logoStyle {
        margin-top: 40px;
        margin-left:45%; 
    }

    #akfaheadContent h1 {
        margin-right: 50px;
    }

    #akfaheadContent div {
        margin-top: 15%;
        margin-right: 15px;
    }
    
    .aboutcontent span {
        margin-right: -300px
    }

    .homeTitle {
        position: absolute;
        width: 100%;
        z-index: 3; 
        top:120px;
        align-self: center;
        align-content: center;
        align-items: center;
        display: block;
    }
    
    .homeTitle h1 {
        color: white !important;
        font-size:22px !important; 
        font-family: 'Cairo', sans-serif !important;
        text-align: center !important;
        padding: 10px 0px !important;  
    }

    .homeTitleheading {
        padding-top: 2%;
    }

    .HomeiconStyle {
        position: absolute;
        float:right;
        background-color: transparent;
        width:12%;
        top:0px;
        text-align: center;
        display: block;
    }

    .HomeiconStyle a {
        color:black;
        text-align: center;
        display: block;
        padding:12px 20px; 
    }

    .iconeStyle {
        width:25%; 
    }


 }
 
 @media only screen and (max-width:768px){
    
    #logoStyle {
        margin-top: 57px;
        margin-left:37%; 
    }

    #akfaheadContent h1 {
        margin-right: 50px;
    }
    #akfaheadContent div{
        margin-top: 30%;
        margin-right: 15px;
    }

    .aboutcontent span {
        margin-right: -200px;
    }
    
    .homeTitle {
        position: absolute;
        display: list-item;
    }

    .HomeiconStyle {
        display: grid;
    }

    .HomeiconStyle a {
        color: black;
        text-align: center;
        display: inline;
        padding: 8px;
        width: 70%;
    }

    .iconeStyle {
        width:50%;  
    }

    .HomeiconStyle {
        display: none;
    }
    .DropDownButton {
        background-color: transparent;
        height: 80px;
        width:40px;
        border: white 2px solid;
        border-radius: 40px;
        position: absolute;
        top:calc(50% - 60px);
        right: calc(50% - 20px);
    }
 }
 
 @media only screen and ( max-width:411px) {
    
    #akfaheadContent div {
        margin-top: 30%;
        margin-right: 0px;
        width:100%;
    }

    #logoStyle {
        margin-top:20px;
    }

    .aboutcontent {
        width:100%;
        font-size: 16px;
        justify-content: right;
       
    }

    .aboutcontent span {
        margin-right: -55px;   
    }
    .title {
        font-size: 17px;
        margin-right:25% ;
    }

    .homeTitle {
        position: absolute;
        display: list-item;
    }

    .HomeiconStyle {
        display: none;
    }

    .HomeiconStyle a {
        color: black;
        text-align: center;
        display: inline;
        padding: 8px;
        padding-right:10px;
        width: 100%;
    }

    .iconeStyle {
        width:50%;  
    }

    .homeTitle h1 {
        color: white !important;
        font-size:20px !important; 
        font-family: 'Cairo', sans-serif !important;
        text-align: center !important;
        padding: 0px !important;   
    }

    .homeTitleheading {
        padding-top: 1%;
    }
    
    .HomeiconStyle {
        display: none;
    }
    .DropDownButton {
        background-color: transparent;
        height: 80px;
        width:40px;
        border: white 2px solid;
        border-radius: 40px;
        position: absolute;
        top:calc(50%  - 20px);
        right: calc(50% - 20px);
    }
 }
