body {
    height: 100%;
      margin: 0;
    }
.topnav-right {
        float: right;
      }
.headernavbar {
    height:100%!important; 
    width:100%;
    overflow: hidden;
    background-color: transparent;
    font-family: 'Cairo', sans-serif;
    z-index: 12;
  }
  
.headernavbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 30px; 
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
  }

.dropdowncontainer {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    border:none !important;
  }

.headerdropdown {
      width: 100%;
      background-color: transparent !important;
      border:none !important;
      cursor: pointer;
  }

#logoLink {
    background-color: transparent;
    margin-bottom: 0%;
    padding: 0% !important;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
  }

#logoLink:hover {
   border:none;
   text-decoration: none;
  }

.logo { 
    float:right;
    width: 30% !important;;
    height:60px;
    margin-right: 10%; 
    margin-top:0%; 
    bottom: 0px;
    background-color: transparent !important;
}

.logoleft { 
  float:left;
  width: 30% !important;;
  height:60px;
  margin-right: 0%; 
  margin-top:0%; 
  bottom: 0px;
  background-color: transparent !important;
} 

#logoLinkLeft {
  display:none;
}

.headernavbar a:hover {
    border-bottom: 1px solid white;
    display: block;
  }

.headernavbar a.active {
    border-bottom: 1px solid white;
  } 
  
#headerdropdown-content {
    direction: rtl;
    display: none;
    position: absolute;
    top:12%;
    background-color:transparent !important;
    min-width: 300px;
    z-index: 12000;
    cursor: pointer;
  }

#headerdropdown-content a {
    padding: 0px 0px;
    font-size: 13px !important
}

.headerdropdown-content a:hover {
    background-color: #ddd;
}
.NavBtn {
      float: left;
      margin-top: 3% !important; 
}

.bg {
      height: 100%;
      width: 100%;
      background-position: center;
      background: linear-gradient(180deg, #0000002e 0%, #0000006e 100%),url(../../Images/home1.png);background-repeat: no-repeat;
      background-size: cover; 
} 
@media only screen and (max-width: 1024px) {
      #logoLinkLeft {
        display:block;
      }

      .logo {
        display:none;
      }

      .tab, .dropdowncontainer {
        display: none;
      }
    
    }

@media only screen and (max-width: 750px) {
        .topnav a {
          padding: 0px 0px;
        }
      }
    
@media only screen and (max-width:450px) {
  
  .headernavbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 0px; 
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
  }

      }