.feding {
    height: 250px; 
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.captionStyle h1 {
    /* color: white !important; */
    font-family: 'Cairo', sans-serif !important;
    text-align: center !important;
}

.captionStyle {
    position: absolute;
    background-color: transparent;
    width: 100%;
    top:180px;
    align-self: center;
    align-content: center;
    align-items: center;
    display: block;
}

.breakLine {
    position: relative;
    font-weight: bold;
    background-color: white;
    top: 39%;
    width:8%;
    height:0.5% ;
}
