@import url('https://fonts.googleapis.com/css?family=Cairo');

#multiple-content{
    margin-top: 1%;
} 
#containerDiv {
    direction: rtl;
}

.row {
    margin-right: 0px !important;
}

table.my-table {
    /* margin-top: 3%; */
    margin-right: 3%;
    width: 100% !important;
 }

.trtable {
    border: #335373 1.5px solid ;
    color: #335373 !important;
    font-weight: bold;
    cursor: pointer;
    padding-top: 10px;
    height: 45px;
    align-items: center;
    justify-content: center;   
}

td  {
    padding-right: 7px;
}

.arrowtd {
    border-right: none;
    padding-right: 7px;
}

.arrow {
    margin-right:100%;
    width: 0; 
    height: 0; 
    vertical-align: -webkit-baseline-middle;
    border-top:15px solid transparent;
    border-bottom:15px solid transparent; 
    border-right:15px solid #335373; 
}

#contentDivs {
    margin-top: 2% !important;
    margin-bottom: 1%;
}
#single-container{
    margin-right: 2%;
    
}
#contentDivs section {
    margin-top: 2%;
    }
.single-section {
    margin-bottom: 1.5% !important;
}
#contentDivs section{
    margin-top: 2%;
}
#contentDivs h4 {
    color: #335373;
    font-size: 18px;
    text-align: right;
    margin-top: 2px;
}

.subtitleContainer h4 {
    background-color: red;
}

.sectorsHr {
    margin-top: 0px;
    margin-bottom: 2px;
    background-color: #335373;
    height: 1px;
    float: right;
    width: 15%;
    display: block;
}

.paragraphes {
    color: black;
    float: right;
    margin-right: 0%;
    text-align: right;
    margin-top: 5px;
    display: block;
    direction: rtl;   
}

.sectorsImages {
    margin-bottom: 8px;
}

.captionContainer {
  background-color: #293f71;
   bottom: 5px;
   height:30px;
   left:0px;
   align-self: center; 
   margin-right: 0 !important;
   margin-top: 0 !important;
   text-align: center !important;
    color: white;
    font-size: 15px;
     
}

.captionSpan{
    bottom: 5px;
    top:5px;
   right: 0px;
   left:0px;
   align-self: center;  
    padding-bottom:1%; 
    text-align: center !important;
    color: white;
    font-weight: bold;
    font-size: 15px;
    z-index: 10; 
}

.titleContainer {
    background-color: red;
}

.paragraph-container{
    text-align: right;
    margin-right: 0px !important;
}

.image-container-style {
    background-color: transparent;
    width:28%;    
    display: inline-block;
    /* margin-top: 3% !important; */
    margin-bottom: 0px !important;
}

.video-content {
    background-color: transparent;
    width: 28%;
    display: inline-block;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.video-content iframe {
    width: 100% !important;
}
/*  */
#mediacalHr {
    height: 2px;
    color: #335373;
    /* background-color: #335373; */
    width: 5%;
}

.embed-responsive-item {
    width: 100% !important; 
    height: 100%;
    margin-bottom: 0px !important;
}
.mediacalh3 {
    font-size: 22px;
    margin-right:30%;
    color: #335373;
}
#mediacalHr {
    height: 2px;
    color: #335373;
    background-color: #335373;
    width: 10% !important;
    text-align: center;
    margin-right:60%;
}
.MedicavideoContainer {
    width: 50%;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right:50% !important;
}
/*  */
@media only screen and (max-width:768px){
    #table {
        display: none;
        margin-top: 7%;
        max-width: 50% !important;
     }

     #contentDivs div {
        margin: 2%;
        width: 100%;
        margin-right: 30px;
    }

    .captionContainer {
        left: 13%;
    }

    .captionSpan {
        left: 13%;
    }
    .mediacalh3 {
        font-size: 22px;
        margin-right:0%;
        color: #335373;
    }
    #mediacalHr {
        height: 2px;
        color: #335373;
        background-color: #335373;
        width: 40% !important;
        text-align: center;
        margin-right:30%;
    }
   
}